body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    background-image: url("jalosi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(8px);
}

.bg-image {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}
h1 {
    font-size: 36px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 80px;
}
p {
    font-size: 18px;
    margin: 20px;
}
h3 {
    font-family: monospace;
    color: rgb(44, 100, 253);
    font-size: 200%;
}
.img {
    float: left;
    width:  100px;
    height: 100px;
    background-size: cover;
}